.container {
    width: 350px;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-175px,-120px);
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
}

.btn {
    width: 100%;
}

.title {
    text-align: center;
    margin-bottom: 24px;
}